<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "www.jcmsinc.com"
        versionCode = "2"
        version     = "2.0.2">

    <name>Meter Reader</name>
 
    <description>
        A simple meter reader application
    </description>
 
    <author href="http://www.jcmsinc.com" email="jehoiadamendoza@gmail.com">
        Jehoiada Mendoza
    </author>
 
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>